*{
    margin: 0;
    padding: 0;
}

body{
    display: grid;
    grid-template-columns: 75% 25%;
    grid-template-rows: auto auto auto;
    grid-template-areas:
                            "nav nav"
                            "title title"
                            "news add";
}

nav{
    grid-area: nav;
    padding: 1rem;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-between;
    background: #2c2c2d;
}

nav span{
    margin-left: 1rem;
    font-size: xx-large;
    color: white;
    align-self: center;
}

nav ul{
    list-style: none;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    margin-right: 1rem;
}

nav ul li{
    text-align: center;
    padding: 1rem;
}

nav ul li a{
    text-decoration: none;
    font-size: larger;
    color: white;
    text-align: center;
}

nav ul li a:hover{
    color: orange;
}

h1{
    grid-area: title;
    text-align: center;
    padding: 1rem;
    border-bottom: #2c2c2d solid 2px;
}

#news {
    grid-area: news;
}

#add {
    grid-area: add;
}

.news-div {
    text-align: center;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2rem;
}

.news-item {
    border: #2c2c2d dashed 1px;
    border-radius: 1rem;
    position: relative;
}

.news-item h2 {
    border-bottom: #2c2c2d dashed 1px;
    padding: 0.5rem;
}

.news-item p{
    margin: 1rem 1rem 3rem;
}

small {
    position: absolute;
    left: 0.6rem;
    bottom: 0.4rem;
    margin: 0.5rem;
}

i {
    position: absolute;
    right: 0.6rem;
    bottom: 0.4rem;
    margin: 0.5rem;
}

.add-post {
    margin: 1rem 3rem 1rem 1rem;
}

.input-container {
    margin: 1rem;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
}

label {
    align-self: center;
    margin-right: 0.5rem;
}

input[type=text], textarea {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}


input[type=button] {
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=button]:hover {
    background-color: #45a049;
}

.error {
    color: #D8000C;
    background-color: #FFBABA;
    background-image: url('https://i.imgur.com/GnyDvKN.png');
    border: 1px solid;
    margin: 10px 0px;
    padding: 15px 10px 15px 50px;
    background-repeat: no-repeat;
    background-position: 10px center;
}

.comment-section {
    margin-top: 0.2rem;
    width: 60%;
    margin-left: auto;
    margin-right: 0;
}

.comment {
    margin-top: 0.2rem;
    padding: 1rem;
    position: relative;
    border: #2c2c2d dashed 1px;
    border-radius: 1rem;
}

.comment p {
    margin: 1rem 1rem 2rem;
}